.subscriptions {
  position: relative;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h1 {
    font-weight: 300;
  }

  .subsTitle {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;

    nav {
      button {
        border-radius: 5px;
        color: black;
        border: none;
        background: var(--purple);
        padding: 3px;
        cursor: pointer;
      }
    }
  }

  .subsHead {
    display: flex;
    gap: 1em;

    .container {
      width: 33%;
      height: auto;
      border-radius: 8px;
      border: 1px solid var(--border);
      padding: 20px;
      background: var(--box);
      pointer-events: none;

      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: var(--purple);
        font-weight: 400;
      }

      &:first-child,
      &:nth-child(2) {
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 1em;

        h3 {
          font-size: 3rem;
          font-weight: 300;
        }

        .nextdue {
          gap: 0;
          p {
            color: gray;
          }
        }
      }
      .active {
        display: flex;
        flex-direction: row;
        gap: 3em;
      }
    }
  }

  .subsTable {
    padding: 20px;
    background: var(--box);
    border-radius: 12px;
    height: 60vh;
  }
}
