.subs-table {
  position: relative;
  width: 100%;

  table {
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;

    th {
      text-align: left;
      font-weight: 500;
      color: gray;
      font-size: 14px;
    }

    tbody {
      tr {
        td {
          border-bottom: 1px solid var(--border);
          padding: 20px;
          padding-left: 0;
          font-family: var(--heading);
          font-size: 16px;
          color: rgb(174, 174, 174);

          button {
            cursor: pointer;
            outline: none;
            border: none;
            padding: 5px 16px;
            background: rgba(255, 0, 0, 0.135);
            border-radius: 100px;
            color: rgb(248, 97, 97);
            font-size: 14px;

            &.paid {
              color: rgb(84, 237, 84);
              background: rgba(0, 179, 0, 0.205);
            }

            &.delete {
              background: none;
            }
          }
        }
      }
    }

    td:nth-child(5),
    th:last-child {
      width: 200px;
    }
  }
}
