.budget {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  gap: 1em;
  height: 80vh;

  h1 {
    font-weight: 400;
  }

  h2 {
    font-weight: 300;
    text-align: center;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  button {
    border-radius: 5px;
    color: black;
    border: none;
    background: var(--purple);
    padding: 3px;
    cursor: pointer;
  }

  main {
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 1em;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      position: relative;
      height: 70vh;
      width: 50%;
      /* height: auto; */
      border: 1px solid var(--border);
      background: var(--box);
      border-radius: 12px;

      .text {
        position: absolute;
        bottom: 30%;

        h3 {
          text-align: center;
          font-size: 3rem;
          color: gray;
          font-weight: 500;

          .number {
            color: white;
          }
        }

        h3:last-child {
          color: gray;
          font-size: 1rem;
          font-weight: 400;
        }
      }

      .gauge {
        width: 100%;
        height: 100%;
        transition: 0.3s ease;
        /* border: 1px solid white; */
        /* clip-path: inset(0 0 100px 0); */
      }

      .pill {
        border-radius: 100px;
        color: #2ecc71;
        font-weight: 500;
        background: #2ecc7133;
        padding: 3px 15px;
        position: absolute;
        bottom: 10%;
      }
      .broke {
        /* border: 1px solid red; */
        background: #e74c3c33;
        color: #e74c3c;
        filter: drop-shadow(0 0 1);
      }

      .almost {
        background: #f1c40f33;
        color: #f1c40f;
      }
    }

    .container {
      gap: 1em;
      position: relative;
      display: flex;
      /* flex-wrap: wrap; */
      flex-direction: row;
      align-items: stretch;
      /* justify-content: space-between; */
      width: 50%;
      /* border: 1px solid white; */

      .boxRight {
        width: 100%;
        border: 1px solid var(--border);
        border-radius: 12px;
        background: var(--box);
        padding: 20px;
        height: auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .budget {
    .header {
      justify-content: space-between;
    }

    main {
      flex-direction: column;
      .box {
        width: 100%;
      }
      .container {
        width: 100%;
      }
    }
  }
}
